.page-header .panel.wrapper{
	background-color:#B22222;
}

.page-main{
	background-color:#FFF0F5;
}

.page-footer{
	background-color:#f4f4f4;
}

.page-footer h3{
	color: gray;
	font-weight: 400;
}
.page-footer li{
	color: gray;
}

.logo{
	margin: 0px -20px;
	width:15%;
}

.quickreference{
	float: left;
	width:23%;
}

.information{
	float: left;
	width:23%;
}

.contact{
	float: left;
	width:22%;
	margin-left: 3%;
}

/*---CSS Class Footletter---*/
.footerletter{					
	float: left;
	width:17%;
}
.footerletter input{
	width:100%;
}
.footerletter button{
	float:right;
}
#medsos{
	list-style-type: none;
    display: flex;
}
#medsos li{
	padding-left: 10px;
}
/*---END CSS Class Footletter---*/

.sponsor{
	float: left;
	margin-top: 3%;
	margin-left: 30%;
}